#include <dt-bindings/zmk/mouse.h>
#include "keys_uk.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        langchange {
            bindings = <&kp LG(SPACE)>;
            key-positions = <17 18>;
        };

        en {
            bindings = <&kp LS(LA(LC(Z)))>;
            key-positions = <28 29>;
        };

        uk {
            bindings = <&kp LS(LA(LC(X)))>;
            key-positions = <40 41>;
        };

        hyphen {
            bindings = <&kp KP_MINUS>;
            key-positions = <41 42>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <29 30>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <49 52>;
        };

        enter2 {
            bindings = <&kp ENTER>;
            key-positions = <43 44>;
        };
    };

    behaviors {
        homerow: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <75>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
        };

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        td_qo: tap_dance_qo {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        td_sl: tap_dance_slash_backslash {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>, <&kp PIPE>;
        };

        td_as: tap_dance_as {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ASTRK>, <&kp CARET>;
        };

        td_gr: tap_dance_gr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;
        };

        td_pa: tap_dance_pa {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AMPS>, <&kp PERCENT>;
        };

        td_sc: tap_dance_sc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMICOLON>, <&kp COLON>;
        };

        td_br: tap_dance_br {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        td_bb: tap_dance_bb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        td_do: tap_dance_do {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOLLAR>, <&kp AT>;
        };

        td_dc: tap_dance_dc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LA(LC(F1)))>, <&kp LS(LA(LC(F2)))>;
        };

        td_o: tap_dance_o {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp O>, <&kp SINGLE_QUOTE>;
        };

        td_qoc: tap_dance_qoc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        td_qq: tap_dance_qq {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };

        td_cc: tap_dance_cc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&kp LG(C)>;
        };

        td_vv: tap_dance_vv {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp V>, <&kp LG(V)>;
        };

        td_hc: tap_dance_hc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_MINUS>, <&kp COLON>;
        };

        htd: htd_kp_space_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&td_qoc>;

            // hold-trigger-key-positions = <KB_THUMBS KB_RIGHT>;
            // retro-tap;
        };

        htw: htd_kp_shift_slash {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&td_sl>;

            // hold-trigger-key-positions = <KB_THUMBS KB_RIGHT>;
            // retro-tap;
        };

        htt: htt_kp_space_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&td_hc>;

            // hold-trigger-key-positions = <KB_THUMBS KB_RIGHT>;
            // retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
//    ┌─────────────┬───────────┬────────┬────────┬─────────────┬────────┐   ┌─────┬──────────────┬─────┬──────────┬───────────┬─────────────┐
//    │             │    f1     │   f5   │        │             │        │   │     │              │     │ bt_sel 0 │ bt_sel 1  │   bt_clr    │
//    ├─────────────┼───────────┼────────┼────────┼─────────────┼────────┤   ├─────┼──────────────┼─────┼──────────┼───────────┼─────────────┤
//    │     esc     │  &td_qq   │   W    │   F    │      P      │   B    │   │  J  │      L       │  U  │    Y     │  &td_sc   │             │
//    ├─────────────┼───────────┼────────┼────────┼─────────────┼────────┤   ├─────┼──────────────┼─────┼──────────┼───────────┼─────────────┤
//    │ &htd lgui 0 │     A     │ lt 1 R │   S    │      T      │   G    │   │  M  │      N       │  E  │  lt 1 I  │     O     │ mt lalt ent │
//    ├─────────────┼───────────┼────────┼────────┼─────────────┼────────┤   ├─────┼──────────────┼─────┼──────────┼───────────┼─────────────┤
//    │             │ mt lsft Z │ lt 2 X │ &td_cc │      D      │ &td_vv │   │  K  │      H       │  ,  │  lt 2 .  │ mt rsft / │             │
//    └─────────────┴───────────┴────────┼────────┼─────────────┼────────┤   ├─────┼──────────────┼─────┴──────────┴───────────┴─────────────┘
//                                       │        │ mt lctl spc │        │   │     │ mt caps bspc │
//                                       └────────┼─────────────┼────────┤   ├─────┼──────────────┘
//                                                │             │        │   │     │
//                                                └─────────────┴────────┘   └─────┘
  &none                 &kp F1             &kp F5    &none    &none             &none        &none   &none           &none       &bt BT_SEL 0   &bt BT_SEL 1            &bt BT_CLR
  &kp ESC               &td_qq             &kp W     &kp F    &kp P             &kp B        &kp J   &kp L           &kp U       &kp Y          &td_sc                  &none
  &htd LEFT_COMMAND 0   &kp A              &lt 1 R   &kp S    &kp T             &kp G        &kp M   &kp N           &kp E       &lt 1 I        &kp O                   &mt LEFT_ALT RET
  &none                 &mt LEFT_SHIFT Z   &lt 2 X   &td_cc   &kp D             &td_vv       &kp K   &kp H           &kp COMMA   &lt 2 DOT      &mt RIGHT_SHIFT SLASH   &none
                                                     &none    &mt LCTRL SPACE   &none        &none   &mt CAPS BSPC
                                                              &none             &none        &none
            >;
        };

        SYMNUM {
            bindings = <
//    ┌───────┬─────┬─────┬─────┬──────┬──────┐   ┌─────────┬──────┬─────┬──────┬─────────┬──────┐
//    │       │     │     │     │      │      │   │         │      │     │      │         │      │
//    ├───────┼─────┼─────┼─────┼──────┼──────┤   ├─────────┼──────┼─────┼──────┼─────────┼──────┤
//    │       │  ~  │  1  │  2  │  3   │  `   │   │ &td_qoc │  (   │  )  │  [   │    ]    │      │
//    ├───────┼─────┼─────┼─────┼──────┼──────┤   ├─────────┼──────┼─────┼──────┼─────────┼──────┤
//    │ capsw │ tab │  4  │  5  │  6   │ kp_= │   │  left   │ down │ up  │ rght │ &td_qoc │ kp_- │
//    ├───────┼─────┼─────┼─────┼──────┼──────┤   ├─────────┼──────┼─────┼──────┼─────────┼──────┤
//    │       │  _  │  7  │  8  │  9   │  0   │   │  kp_-   │  {   │  }  │  !   │    ?    │      │
//    └───────┴─────┴─────┼─────┼──────┼──────┤   ├─────────┼──────┼─────┴──────┴─────────┴──────┘
//                        │     │ kp_- │      │   │         │ kp_+ │
//                        └─────┼──────┼──────┤   ├─────────┼──────┘
//                              │      │      │   │         │
//                              └──────┴──────┘   └─────────┘
  &none        &none            &none          &none          &none          &none              &none            &none                  &none                   &none              &none               &none
  &none        &kp TILDE        &kp NUMBER_1   &kp NUMBER_2   &kp NUMBER_3   &kp GRAVE          &td_qoc          &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS   &kp LEFT_BRACKET   &kp RIGHT_BRACKET   &none
  &caps_word   &kp TAB          &kp NUMBER_4   &kp NUMBER_5   &kp NUMBER_6   &kp KP_EQUAL       &kp LEFT_ARROW   &kp DOWN_ARROW         &kp UP_ARROW            &kp RIGHT_ARROW    &td_qoc             &kp KP_MINUS
  &none        &kp UNDERSCORE   &kp NUMBER_7   &kp NUMBER_8   &kp NUMBER_9   &kp N0             &kp KP_MINUS     &kp LEFT_BRACE         &kp RIGHT_BRACE         &kp EXCLAMATION    &kp QUESTION        &none
                                               &none          &kp KP_MINUS   &none              &none            &kp KP_PLUS
                                                              &none          &none              &none
            >;
        };

        SYMNUM1 {
            bindings = <
//    ┌─────┬──────┬─────┬─────┬──────┬──────┐   ┌──────┬────────┬──────┬─────┬────────┬─────┐
//    │     │      │     │     │      │      │   │      │        │      │     │        │     │
//    ├─────┼──────┼─────┼─────┼──────┼──────┤   ├──────┼────────┼──────┼─────┼────────┼─────┤
//    │     │  !   │  @  │  #  │  $   │  %   │   │  ^   │   &    │  *   │     │        │     │
//    ├─────┼──────┼─────┼─────┼──────┼──────┤   ├──────┼────────┼──────┼─────┼────────┼─────┤
//    │     │ vold │     │     │      │ volu │   │  %   │  lclk  │ rclk │  _  │   $    │     │
//    ├─────┼──────┼─────┼─────┼──────┼──────┤   ├──────┼────────┼──────┼─────┼────────┼─────┤
//    │     │ bri- │     │     │      │ bri+ │   │ kp_= │ &td_br │  <   │  >  │ &td_sl │     │
//    └─────┴──────┴─────┼─────┼──────┼──────┤   ├──────┼────────┼──────┴─────┴────────┴─────┘
//                       │     │ lclk │      │   │      │  rclk  │
//                       └─────┼──────┼──────┤   ├──────┼────────┘
//                             │      │      │   │      │
//                             └──────┴──────┘   └──────┘
  &none   &none                  &none    &none      &none        &none                      &none          &none       &none           &none              &none        &none
  &none   &kp EXCLAMATION        &kp AT   &kp HASH   &kp DOLLAR   &kp PERCENT                &kp CARET      &kp AMPS    &kp ASTRK       &none              &none        &none
  &none   &kp C_VOL_DN           &none    &none      &none        &kp C_VOLUME_UP            &kp PERCENT    &mkp LCLK   &mkp RCLK       &kp UNDERSCORE     &kp DOLLAR   &none
  &none   &kp C_BRIGHTNESS_DEC   &none    &none      &none        &kp C_BRIGHTNESS_INC       &kp KP_EQUAL   &td_br      &kp LESS_THAN   &kp GREATER_THAN   &td_sl       &none
                                          &none      &mkp LCLK    &none                      &none          &mkp RCLK
                                                     &none        &none                      &none
            >;
        };
    };
};
