#include <dt-bindings/zmk/mouse.h>
#include "keys_uk.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        langchange {
            bindings = <&kp LG(SPACE)>;
            key-positions = <17 18>;
        };

        en {
            bindings = <&kp LS(LA(LC(Z)))>;
            key-positions = <28 29>;
        };

        uk {
            bindings = <&kp LS(LA(LC(X)))>;
            key-positions = <40 41>;
        };

        quote {
            bindings = <&td_qo>;
            key-positions = <43 44>;
        };
    };

    behaviors {
        homerow: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <75>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
        };

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        td_qo: tap_dance_qo {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        td_sl: tap_dance_slash_backslash {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>, <&kp PIPE>;
        };

        td_as: tap_dance_as {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ASTRK>, <&kp CARET>;
        };

        td_gr: tap_dance_gr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;
        };

        td_pa: tap_dance_pa {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AMPS>, <&kp PERCENT>;
        };

        td_sc: tap_dance_sc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMICOLON>, <&kp COLON>;
        };

        td_br: tap_dance_br {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        td_bb: tap_dance_bb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        td_do: tap_dance_do {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOLLAR>, <&kp AT>;
        };

        td_dc: tap_dance_dc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(LA(LC(F1)))>, <&kp LS(LA(LC(F2)))>;
        };

        td_o: tap_dance_o {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp O>, <&kp SINGLE_QUOTE>;
        };
        td_qoc: tap_dance_qoc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&homerow LEFT_COMMAND SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp TILDE       &kp N1            &kp N2   &kp N3      &kp N4                &kp N5       &kp N6            &kp N7                  &kp N8     &kp N9     &kp N0                &kp PIPE
&kp ESC         &kp Q             &kp W    &kp F       &kp P                 &kp B        &kp J             &kp L                   &kp U      &kp Y      &td_sc                &td_mt
&kp TAB         &kp A             &lt 1 R  &kp S       &kp T                 &kp G        &kp M             &kp N                   &kp E      &lt 1 I    &kp O                 &kp SQT
&kp LEFT_SHIFT  &mt LEFT_SHIFT Z  &lt 2 X  &kp C       &kp D                 &kp V        &kp K             &kp H                   &kp COMMA  &lt 2 DOT  &mt RIGHT_SHIFT FSLH  &kp RIGHT_SHIFT
                                           &td_qoc     &mt LEFT_ALT KP_PLUS  &kp CAPS     &mt LEFT_ALT RET  &mt RIGHT_COMMAND BSPC
                                                       &mt LCTRL KP_MINUS    &mkp LCLK    &mt RCTRL SPACE
            >;
        };

        SYMNUM {
            bindings = <
&kp F1      &kp F2          &kp F3        &kp F4        &kp F5        &kp F6             &kp F7          &kp F8                &kp F9                 &kp F10           &kp F11            &kp F12
&kp TILDE   &kp TILDE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp GRAVE          &td_as          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &td_gr
&caps_word  &kp TAB         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_EQUAL       &kp LEFT_ARROW  &kp DOWN_ARROW        &kp UP_ARROW           &kp RIGHT_ARROW   &kp EXCLAMATION    &td_qo
&kp HASH    &kp UNDERSCORE  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp N0             &td_pa          &kp LEFT_BRACE        &kp RIGHT_BRACE        &td_dc            &kp QUESTION       &td_sl
                                          &kp KP_EQUAL  &kp KP_PLUS   &kp RIGHT_ARROW    &kp SEMICOLON   &td_qo
                                                        &kp KP_MINUS  &mkp RCLK          &kp COLON
            >;
        };

        SYMNUM1 {
            bindings = <
&kp F1      &kp F2           &kp F3        &kp F4        &kp F5          &kp F6             &kp F7           &kp F8          &kp F9          &kp F10           &kp F11          &kp F12
&kp TILDE   &kp EXCLAMATION  &kp AT        &kp HASH      &kp DOLLAR      &kp PERCENT        &kp CARET        &kp AMPS        &kp ASTRK       &td_bb            &td_mt           &td_gr
&caps_word  &kp C_VOL_DN     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &kp C_VOLUME_UP    &kp PERCENT      &kp AMPS        &kp ASTRK       &kp DOLLAR        &kp DOLLAR       &td_qo
&kp HASH    &kp UNDERSCORE   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9    &kp N0             &kp KP_EQUAL     &td_br          &kp LESS_THAN   &kp GREATER_THAN  &td_sl           &td_sl
                                           &kp KP_EQUAL  &kp KP_PLUS     &kp RIGHT_ARROW    &kp SEMICOLON    &td_qo
                                                         &kp LEFT_SHIFT  &mkp RCLK          &kp RIGHT_SHIFT
            >;
        };
    };
};
